@model RentCar.Models.Arac

<h2>Car Details</h2>

<div>
    <h4>Car Information</h4>
    <dl class="row">
        <dt class="col-sm-2">Marka</dt>
        <dd class="col-sm-10">@Model.Marka</dd>

        <dt class="col-sm-2">Model</dt>
        <dd class="col-sm-10">@Model.Model</dd>

        <dt class="col-sm-2">Year</dt>
        <dd class="col-sm-10">@Model.UretimYili</dd>

        <dt class="col-sm-2">Color</dt>
        <dd class="col-sm-10">@Model.Renk</dd>

        <dt class="col-sm-2">Kilometers</dt>
        <dd class="col-sm-10">@Model.Kilometre</dd>

        <dt class="col-sm-2">License Plate</dt>
        <dd class="col-sm-10">@Model.PlakaNumarasi</dd>
    </dl>
</div>

<div class="form-group">
    <label>Ajans</label>
    <div>@(Model.IdAjansNavigation?.AjansAdi ?? "N/A")</div>
</div>


<div>
    <h4>Maintenance (Bakim)</h4>
    @if (Model.Bakim != null)
    {
        <p>@Model.Bakim.Aciklama (Date: @Model.Bakim.BaslangicTarihi)</p>
        <a asp-action="Edit" asp-controller="Bakim" asp-route-id="@Model.Bakim.IdBakim" class="btn btn-sm btn-primary">Edit @Model.Bakim.BakimTuru</a>
    }
    else
    {
        <p>No maintenance records found.</p>
        <a asp-action="Create" asp-controller="Bakim" asp-route-id="@Model.IdAraba" class="btn btn-sm btn-success">Add Maintenance</a>
    }
</div>

<div>
    <h4>Car Status (Arac Durumu)</h4>
    @if (Model.AracDurumu != null)
    {
        <p>@Model.AracDurumu.Aciklama (Status Date: @Model.AracDurumu.GuncellemeTarihi)</p>
        <a asp-action="Edit" asp-controller="AracDurumu" asp-route-id="@Model.AracDurumu.IdDurum" class="btn btn-primary">Edit Status</a>
    }
    else
    {
        <p>No status available.</p>
        <a asp-action="Edit" asp-controller="AracDurumu" asp-route-id="@Model.AracDurumu?.IdDurum" class="btn btn-primary">Add Status</a>
    }
</div>


<div>
    <h4>Insurance (Sigorta)</h4>
    @if (Model.Sigortum != null)
    {
        <p>@Model.Sigortum.SigortaTuru from @Model.Sigortum.SigortaFirma (Expires: @Model.Sigortum.SonTarih)</p>
        <a asp-action="Edit" asp-controller="Sigorta" asp-route-id="@Model.Sigortum.IdSigorta" class="btn btn-primary">Edit Insurance</a>
    }
    else
    {
        <p>No insurance records found.</p>
        <a asp-action="Create" asp-controller="Sigorta" asp-route-id="@Model.IdAraba" class="btn btn-success">Add Insurance</a>
    }
</div>

<div>
    <h4>Contracts (Sozlesme)</h4>
    @if (Model.Sozlesmes.Any())
    {
        <ul>
            @foreach (var sozlesme in Model.Sozlesmes)
            {
                <li>Contract ID: @sozlesme.IdSozlesme (Start: @sozlesme.CikisTarihi - End : @sozlesme.DonusTarihi)</li>
            }
        </ul>
    }
    else
    {
        <p>No contracts found.</p>
    }
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
<a asp-action="Edit" asp-route-id="@Model.IdAraba" class="btn btn-primary">Edit</a>

